<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; background: green">
  <h1>
    Automated Nginx Configuration
  </h1>
  <img width="300" alt="Angular Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKUXoPaVidpF_aGUM0LbUlcbfJSNBV2CYdmnHD5N_LXMDULylPww">
  <p>This page is an example of a container that runs under nginx with only a few lines of configuration.
  No Nginx configuration is needed apart from specifying your host in docker-compose.yml
  (if your application runs on port 80).</p>
</div>

